  <div class="banner">
    <h1 id="title"> Save any kind of movies</h1>
  </div>
<div class="container">

  <div class="lists">
    <h1>My lists</h1>

    <div class="btn btn-danger" id="redBtn" >
      <%= link_to "Create a movie list", "/lists/new", class: "movieBtn" %>
    </div>

    <div>
      <% @lists.each do |list| %>
          <%= link_to list.name, list  %>
      <% end %>
    </div>
  <div>
</div>
