// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


/* My custom css */
.banner{
  background-image: url(https://img.freepik.com/premium-vector/black-curtain-background-celebration-event-grand-opening-backdrop-wallpaper-vector_345220-83.jpg);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

body{
  margin: 0;
  padding: 0;
}

#title{
  color: white;
}

#nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.text-box{
display: flex;
padding-top: 10px;
}

.nav-link_1{
  text-decoration: none;
  color: white;
  text-align: right;
  margin-left: auto;
  padding-right: 40px;
  justify-content: center;
  padding-top: 20px;
}

.nav-link_1:hover {
  color: red;
  text-decoration: line-through;
}

.cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 16px;
}

.lists{
  margin-top: 100px;
  margin-bottom: 200px;
}

.show-banner {
  background-image: url(https://www.timeart.co.uk/images/cache/beatles-abbey-road-b-w-377-2000-nw.jpg);
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#show-title{
  color: white;
  font-size: 80px;
  font-weight: 200;
}
